KT_business_process/KT4_services/WebContent/wsdl/offerservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="OfferServiceService" targetNamespace="http://service.offer.ee.idu0080.ttu/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.offer.ee.idu0080.ttu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:tns="http://service.offer.ee.idu0080.ttu/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://service.offer.ee.idu0080.ttu/" version="1.0">

  <xs:element name="getTransportOffer" type="tns:getTransportOffer"/>

  <xs:element name="getTransportOfferResponse" type="tns:getTransportOfferResponse"/>

  <xs:complexType name="getTransportOffer">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element minOccurs="0" name="arg1" type="tns:order"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="order">
    <xs:sequence>
      <xs:element minOccurs="0" name="customer" type="tns:customer"/>
      <xs:element name="orderId" type="xs:int"/>
      <xs:element name="priceTotal" type="xs:float"/>
      <xs:element minOccurs="0" name="seller" type="tns:seller"/>
      <xs:element minOccurs="0" name="shippingAddress" type="tns:address"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="customer">
    <xs:sequence>
      <xs:element name="customerId" type="xs:int"/>
      <xs:element minOccurs="0" name="firstName" type="xs:string"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="seller">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="addresses" nillable="true" type="tns:address"/>
      <xs:element name="sellerId" type="xs:int"/>
      <xs:element minOccurs="0" name="sellerName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="address">
    <xs:sequence>
      <xs:element minOccurs="0" name="country" type="xs:string"/>
      <xs:element minOccurs="0" name="county" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="orderedProduct">
    <xs:sequence>
      <xs:element name="price" type="xs:float"/>
      <xs:element name="priceTotal" type="xs:float"/>
      <xs:element name="productCount" type="xs:int"/>
      <xs:element name="productId" type="xs:int"/>
      <xs:element minOccurs="0" name="productName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getTransportOfferResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:transportOffer"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="transportOffer">
    <xs:sequence>
      <xs:element minOccurs="0" name="deliveryDate" type="xs:integer"/>
      <xs:element minOccurs="0" name="offerId" type="xs:string"/>
      <xs:element name="transportPrice" type="xs:float"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getTransportOffer">
    <wsdl:part name="parameters" element="tns:getTransportOffer">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTransportOfferResponse">
    <wsdl:part name="parameters" element="tns:getTransportOfferResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IOfferService">
    <wsdl:operation name="getTransportOffer">
      <wsdl:input name="getTransportOffer" message="tns:getTransportOffer">
    </wsdl:input>
      <wsdl:output name="getTransportOfferResponse" message="tns:getTransportOfferResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OfferServiceServiceSoapBinding" type="tns:IOfferService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getTransportOffer">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getTransportOffer">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getTransportOfferResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OfferServiceService">
    <wsdl:port name="OfferServicePort" binding="tns:OfferServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/OfferServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
